strong {
    color: #E3B2DA;
}

body {
    background-color: #201d20 !important;
}

.sidebar,
.header {
    background: #2b292b !important;
}

.sidebar .active::before {
    background-color: #E3B2DA !important;
}

textarea {
    border-color: #E3B2DA !important;
}