strong {
    color: #e3b2da;
}

body {
    background-color: #201d20 !important;
}

.sidebar,
.header {
    background: #2b292b !important;
}

.sidebar .active::before {
    background-color: #e3b2da !important;
}

textarea {
    border-color: #e3b2da !important;
}