* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 187ms Cubic-Bezier(0, 0, 0, 1);
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.63) transparent;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(143, 143, 143, 0.63);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(240, 240, 240, 0.63);
    border-radius: 20px;
    scale: 10%
}

div {
    display: block;
}

body {
    margin: 0;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.45em;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
}

h2 {
    font-size: 2.1em;
    font-weight: 600;
    line-height: 1.2em;
    cursor: pointer;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25em;
}

#logo {
    width: 14em;
    padding: 0.5em;
    border-radius: 36px;
    margin-right: 2em;
    margin-left: 2em;
}

.flex {
    display: flex;
}

.limiters-img {
    box-shadow: 0 2pt 4pt 0 rgba(0, 0, 0, 50%);
    border-radius: 6pt;
    margin: 1em 0 1em 0;
    max-width: 80%;
    height: auto;
}

#applyConfirmation {
    opacity: 0%;
    transition-duration: 1s;
}

a {
    color: rgb(101, 206, 253);
    text-decoration: none;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
}

input,
button,
.button,
.button-big {
    color: white;
    background-color: rgba(255, 255, 255, 6.05%);
    border: 1px solid rgba(255, 255, 255, 9.3%);
    border-radius: 3px;
    text-align: center;
    min-height: 1em;
    font-size: 1.1em;
    transition: all 187ms Cubic-Bezier(0, 0, 0, 1);
}

input:hover,
button:hover,
.button:hover,
.button-big:hover {
    background-color: rgba(255, 255, 255, 8.37%);
}

input:active,
button:active,
.button:active,
.button-big:active {
    background-color: rgba(255, 255, 255, 3.26%);
    border-color: rgba(255, 255, 255, 6.98%);
    color: rgba(255, 255, 255, 78.6%);
}

#intelButton {
    background-color: #2166b3;
    color: white
}

#intelButton:hover {
    background-color: hsl(212, 69%, 55%);
}

#amdButton {
    background-color: #dc0032;
    color: white
}

#amdButton:hover {
    background-color: hsl(346, 100%, 65%);
}

#nvidiaButton {
    background-color: #71bb21;
    color: white
}

#nvidiaButton:hover {
    background-color: hsl(89, 70%, 60%);
}


input:active {
    border-bottom: 1px solid rgb(101, 206, 253);
}

.vertical-separator {
    border-left: 5px solid #2b2b2b;
    border-right: 5px solid #2b2b2b;
    background-color: rgb(114, 114, 114);
}

.comparison-table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0.4em;
}

.comparison-table h2 {
    font-size: 1.5em;
}

.comparison-table .card-red,
.comparison-table .card-green {
    vertical-align: top;
}

.expander-top {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: 1px solid rgba(0, 0, 0, 10%);
    background-color: rgba(255, 255, 255, 5.12%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 13%);
    margin-bottom: 0 !important;
}

.expander-top.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(255, 255, 255, 6.12%);
}

.expander-top.clickable {
    cursor: pointer;
}

.expander-top.clickable:hover {
    outline: 1px solid rgba(255, 255, 255, 7%);
    background-color: rgba(255, 255, 255, 8.12%);
}

.expander-top.clickable:active {
    background-color: rgba(255, 255, 255, 3%);
}

.expander-bottom {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    outline: 1px solid rgba(0, 0, 0, 10%);
    background-color: rgba(255, 255, 255, 5.12%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 13%);
    display: none;
    animation: slide-up 0.4s;
    z-index: 0;
    position: relative;
    overflow-y: hidden;
    margin-top: 0 !important;
}



.button-big {
    background-color: rgba(255, 255, 255, 6.05%);
    border: 1px solid rgba(255, 255, 255, 9.3%);
    border-radius: 3px;
    text-align: center;
    padding: 0.7em;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    min-width: 5em;
    max-width: 8em;
    min-height: 1em;
    width: 100%;
    transition: all 187ms Cubic-Bezier(0, 0, 0, 1);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img.chevron {
    height: 16px;
    width: 16px;
    box-shadow: none;
    margin-top: 3px;
    transition: transform 0.1s;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin: 10px;
}

.sidebar {
    top: 0;
    float: left;
    width: 15em;
    text-align: center;
    position: fixed;
    z-index: 2;
    margin-top: 40px;
    margin-left: 0.75em;
    border-radius: 4px;
    user-select: none;
    background: #2b2b2b;
    outline: 1px solid rgba(0, 0, 0, 10%);
    transition: all 333ms Cubic-Bezier(0, 0, 0, 1);
    overflow: hidden;
}

.sidebar p {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 4px;
    height: 36px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    padding: 7px 8px;
    margin: 1.5px 0;
    transition: all 187ms Cubic-Bezier(0, 0, 0, 1);
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.0605);
    border: 1px solid rgba(255, 255, 255, 0.0605);
}

.sidebar a:active {
    background: rgba(255, 255, 255, 0.0419);
    border: 1px solid rgba(255, 255, 255, 0.0419);
    color: rgba(255, 255, 255, 0.786);
}

.flippy {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.sidebar a:hover .flippy,
.header:hover span,
.flippy:hover {
    cursor: pointer;
    animation: rotate 0.4s ease-in-out;
    user-select: none;
}

.sidebar .flippy {
    top: 3px;
}

.subIcon {
    position: relative;
    left: 15px;
    margin-left: -12px;
    font-size: large;
    z-index: 0;
}

.card {
    outline: 1px solid rgba(0, 0, 0, 10%);
    background-color: rgba(255, 255, 255, 5.12%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 13%);
}

.card-basic {
    font-family: monospace;
    font-size: 1.3em;
    outline: 1px solid rgba(0, 0, 0, 10%);
    background-color: rgba(255, 255, 255, 3.26%);
    width: fit-content;
}

.card-yellow {
    outline: 1px solid rgba(0, 0, 0, 10%);
    background-color: rgb(67, 53, 25);
    text-align: left;
    width: fit-content;
}

.card-red {
    outline: 1px solid rgba(0, 0, 0, 10%);
    background-color: rgb(68, 39, 38);
    text-align: left;
    width: fit-content;
}

.card-green {
    outline: 1px solid rgba(0, 0, 0, 10%);
    background-color: rgb(57, 61, 27);
    text-align: left;
    width: fit-content;
}

.card,
.card-basic,
.card-green,
.card-red,
.card-yellow,
.expander-bottom,
.expander-top {
    padding: 0 1em 0 1em;
    border-radius: 8px;
    border: 1px solid transparent;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

b.card-basic {
    padding: 0.3em 0.5em 0.3em 0.5em;
}

.annotations {
    font-size: small;
}

.header {
    font-size: 32px;
    padding: 20px 12px 22px 10px;
    margin-left: -100px;
    margin-bottom: 10px;
    background: rgb(43, 43, 43);
    outline: 1px solid rgba(0, 0, 0, 10%);
    position: fixed;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    transition: all 333ms Cubic-Bezier(0, 0, 0, 1);
}

.content {
    float: left;
    margin-left: 14.5em;
    width: 80%;
    padding: 0 2em;
    z-index: 0;
}

footer {
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 10px;
    outline: 1px solid rgba(0, 0, 0, 10%);
    background-color: rgba(255, 255, 255, 5.12%);
}

.theme {
    background: rgb(32, 32, 32);
    color: white;
    font-family: arial, helvetica, sans-serif;
}

#karutpls {
    margin: auto;
}

.width-very-limited {
    max-width: 70%;
}

.width-limited {
    max-width: 90%;
}

.width-full {
    max-width: 100%;
}

#card-buttons {
    position: absolute;
    outline: 1px solid rgba(117, 117, 117, 0.4);
    background: url(NoiseAsset_256.png), rgba(44, 44, 44, 0.442);
    background-blend-mode: normal, luminosity;
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);
    border-radius: 7px;
    padding: 1px 2px 1px 2px;
    width: fit-content;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    top: 15px;
    left: 0;
    right: 0;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.1), 0 2px 21px rgba(0, 0, 0, 0.2);
    z-index: 1;
    user-select: none;
}

#card-fonfig {
    position: absolute;
    outline: 1px solid rgba(117, 117, 117, 0.4);
    background: rgba(44, 44, 44, 0.442);
    background-blend-mode: normal, luminosity;
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);
    border-radius: 7px;
    margin-right: 10px;
    padding: 10px 15px 10px 15px;
    bottom: 20px;
    right: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
    text-align: right;
    font-size: 1.1em;
}

#card-fonfig.active,
.button-big.active {
    background-color: rgb(91, 206, 255);
    color: black;
}

#card-fonfig.active:hover,
.button-big.active:hover {
    background-color: rgba(96, 205, 255, 0.8);
}

.button-big.active:active {
    background-color: rgb(82, 174, 215);
    color: rgba(0, 0, 0, 50%);
}

#card-buttons button {
    margin: 0 2px 0 2px;
    height: 40px;
    min-width: 80px;
    background-color: transparent;
    border: 0 solid transparent;
    cursor: pointer;
    padding-top: 6px;
    transition: background-color 0.2s ease-in-out;
}

#card-buttons button:hover,
#card-fonfig:hover {
    color: rgba(255, 255, 255, 0.786);
    background-color: rgba(255, 255, 255, 8.37%);
}


.selector {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 9px;
    width: 0;
    height: 3px;
    border-radius: 20px;
    background: #60cdff;
}

.active .selector {
    width: 16px;
    height: 3px;
}

#card-buttons button:active .selector {
    background: rgba(96, 205, 255, 0.8);
}


.image-container {
    position: relative;
    margin: auto;
}

.image-container img {
    max-width: 100%;
    z-index: 1;
    vertical-align: middle;
    cursor: pointer;
}

.image-container:hover #card-fonfig {
    opacity: 100%;
}

.section {
    margin-top: 50px;
}

.expander-opened {
    animation: slide-down 2s;
}

#pepestare {
    width: 24px;
    margin: 0;
    box-shadow: none;
}

@keyframes rotate {

    50% {
        transform: translateY(-6px) rotateZ(180deg);
    }

    100% {
        transform: translateY(0px) rotateZ(360deg);
    }

}

@keyframes slide-down {
    from {
        max-height: 0;
        margin-top: -0.12px;
    }

    to {
        max-height: 5000px;
    }
}

@keyframes slide-up {
    from {
        max-height: 1000px;
    }

    to {
        max-height: 0;
        margin-top: -0.12px;
    }
}

@media (prefers-color-scheme: light) {
    .theme {
        background: rgb(243, 243, 243);
        color: rgb(0, 0, 0);
    }

    .limiters-img {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 4%);
    }

    input,
    button,
    .button,
    .button-big {
        background-color: rgba(255, 255, 255, 70%);
        border-color: rgba(0, 0, 0, 16.22%);
        color: rgba(0, 0, 0, 89.56%);
    }

    input:hover,
    button:hover,
    .button:hover,
    .button-big:hover {
        background-color: rgba(249, 249, 249, 50%);
    }

    input:active,
    button:active,
    .button:active,
    .button-big:active {
        background-color: rgba(249, 249, 249, 30%);
        border-color: rgba(0, 0, 0, 5.78%);
        color: rgba(0, 0, 0, 60.63%);
    }

    a {
        color: rgb(13, 96, 182)
    }

    .header {
        outline: 1px solid rgba(0, 0, 0, 5.78%);
        background: rgb(251, 251, 251);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 4%);
    }

    .card,
    .expander-top,
    .expander-bottom {
        outline: 1px solid rgba(0, 0, 0, 5.78%);
        background-color: rgba(255, 255, 255, 70%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 4%);
        color: rgba(0, 0, 0, 89.56%);
    }

    .expander-top.clickable:hover {
        outline: 1px solid rgba(0, 0, 0, 5.78%);
        background-color: rgba(255, 255, 255, 25%);
    }

    .expander-top.clickable:active {
        background-color: rgba(255, 255, 255, 20%);
    }

    .expander-top.active {
        background-color: rgba(255, 255, 255, 70%);
    }

    #card-fonfig.active,
    .button-big.active {
        background-color: rgb(0, 97, 185);
        color: white;
    }

    #card-fonfig.active:hover,
    .button-big.active:hover {
        background-color: rgb(25, 112, 191);
    }

    .button-big.active:active {
        background-color: rgb(49, 126, 198);
        border-color: rgb(49, 126, 198);
        color: rgba(255, 255, 255, 70%);
    }

    .card-basic {
        outline: 1px solid rgba(0, 0, 0, 5.78%);
        background-color: rgba(249, 249, 249, 50%);
        color: rgba(0, 0, 0, 89.56%);
    }

    .card-green {
        outline: 1px solid rgba(0, 0, 0, 5.78%);
        background-color: rgb(223, 246, 221);
        color: rgba(0, 0, 0, 89.56%);
        border-radius: 8px;
    }

    .card-yellow {
        outline: 1px solid rgba(0, 0, 0, 5.78%);
        background-color: rgb(255, 244, 206);
        color: rgba(0, 0, 0, 89.56%);
    }

    .card-red {
        outline: 1px solid rgba(0, 0, 0, 5.78%);
        background-color: rgb(253, 231, 233);
        color: rgba(0, 0, 0, 89.56%);
    }

    .sidebar {
        background: rgb(251, 251, 251);
        outline: 1px solid rgba(0, 0, 0, 5.78%);
    }

    .sidebar a {
        color: rgba(0, 0, 0, 0.8956);
    }

    .sidebar a:active {
        background: rgba(0, 0, 0, 0.0241);
        border: 1px solid rgba(0, 0, 0, 0.0241);
        color: rgba(0, 0, 0, 0.6063);
    }

    .sidebar a:hover {
        background: rgba(0, 0, 0, 0.0373);
        border: 1px solid rgba(0, 0, 0, 0.0373);
        color: rgba(0, 0, 0, 0.8956);
    }
}

@media only screen and (max-width: 900px) {

    .content {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }

    .sidebar {
        height: 100%;
        width: 0;
        margin-top: 0;
        margin-bottom: 20%;
        margin-left: 0;
        border-top-right-radius: 0;
        overflow-y: scroll;
    }

    .header {
        margin-left: 0;
        height: fit-content;
        width: fit-content;
    }
}

@media only screen and (max-width: 700px) {

    .comparison-table .card-red,
    .comparison-table .card-green {
        padding: 0em;
    }

    .comparison-table .card-yellow {
        margin: 0em 0.75em 0em 0em;
        padding: 0.1em 0.5em 0.1em 0.5em;
    }

    ul {
        margin-left: -1.75em;
    }

    ol {
        margin-left: -1.75em;
    }

    .content {
        padding: 4px;
    }

    .expander-bottom,
    .expander-top,
    .card-red,
    .card-yellow,
    .card-green,
    .card-basic,
    .card {
        padding: 0.65em;
    }

    .comparison-table {
        border-spacing: 0.1em;
    }

    .comparison-table h2 {
        font-size: 1em;
    }

    .comparison-table ul {
        font-size: 0.8em;
        word-wrap: break-word;
        line-height: 1.3em;
        list-style-position: outside;
        margin-left: -3em;
        list-style: none;
    }

    #card-buttons {
        transform: scale(0.65);
    }

    #card-fonfig {
        transform: scale(0.65);
        margin-right: -2.5%;
    }

    #card-buttons button {
        width: fit-content;
    }

    #logo {
        margin-left: 0;
        margin-right: 0;
        width: 0em;
    }

    .width-limited {
        max-width: 100%;
    }

    .limiters-img {
        max-width: 100%;
    }
}

@media only screen and (min-width: 901px) {

    .header {
        margin-left: -100px;
    }
}